@model IEnumerable<NayanTraders.Models.Product>

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/OtherPageLayout.cshtml";
}

<section class="plasticmat">
    <h2>Category Based Product</h2>


    <table class="table">
        <tr>
            <th>
                Name(Code)<br />
                Category(Brand)
            </th>

            <th>
                Size
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Unit.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                    ( @item.Code)<br />
                    <p style="color:#00ff21">@item.Category.Name</p>
                    (@item.Brands.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Size.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>

                <td>
                    Total:<span style="text-decoration:line-through;">@item.Price</span> -@item.Discount%=@(item.Price - (item.Price * int.Parse(item.Discount)) / 100)) BDT
                </td>

                <td>
                    <img src="../Upload/ProductImage/@(item.Id.ToString()+"_"+item.Image)" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

            </tr>
        }

    </table>
</section>
