@model NayanTraders.Models.Purchase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="rightContaier">
    <h2>Details</h2>

    <div>
        <h4>Purchase</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vendor.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PurchaseCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PurchaseCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PurchaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>