<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/IndexCss/Main.css" rel="stylesheet" />
    <link href="~/Content/IndexCss/Header.css" rel="stylesheet" />
    <link href="~/Content/Catagory/Catagory.css" rel="stylesheet" />
    <link href="~/Content/Cart/Cart.css" rel="stylesheet" />
    <link href="~/Content/Products/Products.css" rel="stylesheet" />
    <link href="~/Content/PlasticMats/Plasticmat.css" rel="stylesheet" />
    <link href="~/Content/IndexCss/Footer.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="Container">
        @*---------------------Navigation Section-------------------*@
        <section class="NavSection">
            <nav class="Navigation">
                <div class="Logo">
                    <img src="~/Image/Banners/NayanT.png" />
                </div>
                <div class="NavBtn">
                    <ul>
                        <li><a href="../../Home/Index2">Home</a></li>
                        <li><a href="../../Product/All">Products</a></li>
                        <li><a href="../../Product/Category">Catagory</a></li>
                        @Html.Partial("_LoginPartial")
                        <li><a href="../../Product/Category">SignUp</a></li>
                    </ul>
                </div>
            </nav>
            <section class="FBanner">
                <img src="~/Image/Banners/HBanner.png" />
            </section>
            <section class="LearnMore">
                <a href="#">Learn More</a>
            </section>
            <section class="bubbles">
                <img src="~/Image/Illustration/Design.png" />
            </section>
            <section class="indicator">
                <a href="#letestB"><img src="~/Image/Illustration/Indicator.png" /></a>
            </section>  
        </section>
    </section>
    <div class="container body-content">
        @RenderBody()

        <section class="Footer">
            <div class="Details">
                <div class="Fdesign">
                    <h4>Links Of FB And Other Pages</h4>
                    <p>FaceBook: <a href="facebook.com" target="_blank">Facebook.com</a></p>
                </div>
                <div class="Fdesign">
                    <h4>Contact Information</h4>
                    <p>
                        Phone Number: 01721238290 <br />
                        Email: bishwanathdeynayan@gmail.com<br />
                    </p>

                </div>
                <div class="Fdesign">
                    <h4>Location Information</h4>
                    <p>Shavar, Dhaka, Bangladesh</p>

                </div>
            </div>
            <footer>
                <img src="~/Image/Banners/footer.png" />
            </footer>
        </section>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
